<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login/Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<body>
<div class="container">
<center> <h1>Playlist Application built in Python/Django</h1> 
<h4>Register</h4>
<form action="/register" method="post" class="form-control" style="width:300px; height:300px">
	{%csrf_token %}
	First Name: <input type="text" name="first_name" required class="form-control">
	Last Name: <input type="text" name="last_name" required class="form-control">
	Email: <input type="email" name="email" required class="form-control">
	Password: <input type="password" name="password" required class="form-control">
	<br>
	<input type="submit" value="Register" class="btn btn-success">
</form>
<h4>Login</h4>
<form action="/login" method="post" class="form-control" style="width:300px; height:180px">
	{%csrf_token %}
	Email: <input type="email" name="email" required class="form-control">
	Password: <input type="password" name="password" required class="form-control">
	<br>
	<input type="submit" value="Login" class="btn btn-success">
</form>
</div>
</center>
</body>
</html>